<h1>Showing selected article <%= @article.id%> </h1>

<p>
    <%= @article.title %>
</p>

<p>
    <%= @article.description %>
</p>
<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Back to article listing", articles_path %>